<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}EAT THE BURGER{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>